{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block banner %}
    Register
{% endblock %}

{% block main %}
<br>

<form action="/register" method="post">
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required>
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required>
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirmation" type="password" required>
    </div>
    <button class="btn btn-outline-light form-button top-buffer" type="submit">Register</button>
</form>
{% endblock %}